.flex-container {
    display: flex;
    background-color: #f1f1f1;
}

.flex-container>div {
    margin: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    background-color: #191D32 !important;
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
}

.grid-item {
    text-align: center;
    border: 2px solid #28AFB0;
    height: 80px;
}

.top {
    margin-top: 56px;
}

mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 100%;
    width: 100%;
}

.row {
    margin-right: -16px !important;
}

.list-group {
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
}

.flex-container>div {
    margin: 10px;
    text-align: center;
}