<nav class="navbar fixed-top navbar-dark" style="background-color: #191D32;">
    <a class="navbar-brand" href="#!">FLIP IT </a>
    <div> <button class='btn btn-info ' style="margin-right: 20px;"> {{points}} </button>
        <button class='btn btn-danger '> {{failureCount}} </button> </div>
</nav>
<div class="container grid-container top" [style.width]='(80 * columns) + "px"' [style.height]='(80 * rows) + "px"'>
    <div class="row">
        <div id='gridItem' *ngFor='let item of items; let index= index;' [class]="'col-' + (12/columns) + ' grid-item col-xl-' + (12/columns)" (click)='checkClick(item, index)'>
            <button mat-icon-button *ngIf='item.show' [@deckAnimation] style="margin-top: 19px;"> 
                <mat-icon [svgIcon]='"img" + item.value' class="y-icon"></mat-icon>
              </button>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'" style="position: absolute;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{ title }}</h4>
            </div>

            <div class="flex-container" *ngIf='buttonText === "Start"'>
                <div style="flex-grow: 1"><label> Enter name </label> </div>
                <div style="flex-grow: 1"> <input type="text" required id='name'></div>
            </div>
            <div class="flex-container" *ngIf='buttonText !== "Start"'>

                <div style="flex-grow: 1"><label>   {{ content }} </label> <br> <label *ngIf='name != ""'>  Good luck next time!  </label> </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="hide()"> {{buttonText}} </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal ">Top Scores</button>
            </div>
            <ul class="list-group " *ngIf='showTopScores'>
                <li class="list-group-item flex-container " *ngFor='let user of topScores'>
                    <div style="flex-grow: 1 "> {{user.username}} : {{user.highscore}}</div>
                </li>
            </ul>
        </div>
    </div>

</div>