/* You can add global styles to this file, and also import other style files */

html,
body {
    height: calc(100% - 56px);
    background-color: #28AFB0 !important
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}